<section class="Section" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product-slideshow">
  <div class="container-medium">
    <div class="main-carousel">
      {% for block in section.blocks %}
        <div class="carousel-cell">

        </div>
      {% endfor %}
   </div>
  </div>
</section>
{% schema %}
{
  "name": "Product slideshow",
  "settings": [

  ],
  "presets": [
    {
      "category": "Image",
      "name": "Product Slideshow",
      "settings": {}
    }
  ]
}
{% endschema %}
